
      body,html {
			padding: 0;
			margin: 0;
      	/* font-family: "Source  Pro", "Arial", serif; */
			}
      *, :after, :before {
        box-sizing: inherit;
      }
      html {
           box-sizing: border-box; // 1
           font-family: sans-serif; // 2
           line-height: 1.15; // 3
           -webkit-text-size-adjust: 100%; // 4
           -ms-text-size-adjust: 100%; // 4
           -ms-overflow-style: scrollbar; // 5
           -webkit-tap-highlight-color: rgba(0,0,0,0); // 6
         }
			footer p{
    		color: #777;
  	  	font-size: 14px;
				 margin-top: 0;
				 margin-bottom: 1rem;
			 }
			 .mailpoet_required{
				 color: gray;
			 }
      footer ul{
       list-style: none;
       padding:0;
       margin:0;
       color: #777;
       font-size: 14px;
      }

      footer ul li{
       display: block;
       border-bottom: 1px solid #f5f5f5;
       padding-bottom: 5px;
      }
      footer h4{

      	text-transform: uppercase;
      	font-size: 16px;
      	font-weight: 400;
      	border-bottom: 1px solid #eee;
      	color: #666;
      	letter-spacing: 2px;
      	padding-bottom: 15px;
      	margin-bottom: 30px;
      	margin-top: 10px;
      }
      footer{
      	background-color: rgba(255, 255, 255, 0.2);
      	    }

      footer .text-3 .fa{
      	color: #20737d;
      	position: absolute;
      	font-size: 20px;
      	margin-top:4px;
      }

      footer .text-3 a{
      	margin-left: 30px;
      }
      p, ul,  li{
            	font-size: 15px;
      	color: #333;
      	line-height: 28px;
      	font-weight: 400;
      }
      .mailpoet_text_label{
          color:gray;
          font-weight: bold;
      }
      .mailpoet_submit{
        background-color: #22626B;
        border: 1px solid #AAE2DE;
        border-radius: 4px;
        color: #AAE2DE;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
      }
      .fab{
        color: #22626B;
        font-face:400;
      }
