.fab{
	color: #22626B;
	font-size:30px;
	margin-left: 45px;
}
.fot-box{
	margin-left: 70px;
}
h4{
	text-align: center;
}
.contact-email{
		margin-left: 45px;
}
.container{
	margin: auto;
}
.slide{
		width: 80%;
		height: 50%;
		margin: auto;
		text-align: center;
}
